body {
    font-family: Helvetica, sans-serif;
}

#desc-div {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    height: 120px;
}

#pie-div {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

#pie {
    width: 100%;
    height: 75%;
    box-sizing: border-box;
}

#waffle-div {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 60%;
    padding: 5px;
}

#waffle {
    width: 100%;
    box-sizing: border-box;
}

#card-div {
    margin-bottom: 20px;
}


#trials-card {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 120px;
    padding: 10px;
    width: 30%;
}

#sponsors-card {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 120px;
    padding: 10px;
    float: right;
}

#years-card {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 120px;
    padding: 10px;
    float: right;
}

.card-title {
    text-align: center;
    font-size: 30px;
    padding: 10%;
}

.card-text {
    font-size: 20px;
    padding-left: 3%;
}


#scatter-div {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

#bottom-left {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

#bottom-right {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}


#top-row {
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}

#mid-row {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    overflow: hidden;
}

#bot-row {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

h1 {
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
}
h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}