
#desc-div {
    background-color: white;
    border-radius: 15px;
    width: 66%;
    height: 100%;
    margin-right: 0%;
    box-shadow: 3px 3px 1px gainsboro;
}

#pie-div {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 2%;
    width: 34vh;
    margin-right: 0%;
    box-shadow: 3px 3px 1px gainsboro;
}

#pie {
    box-sizing: border-box;
    width: 100%;
    height: 27vh;
    padding-top: 0%;
}

#waffle-div {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 2%;
    width: 51vh;
    margin-left: 4%;
    box-shadow: 3px 3px 1px gainsboro;
}

#waf {
    box-sizing: border-box;
    width: 100%;
    height: 27vh;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 3%;
}

#scatter-div {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 3px 3px 1px gainsboro;
}

.six.columns {
}

#scatter {
    box-sizing: border-box;
    width: 100%;
    height: 27vh;
    padding-top: 0%;
}

#card-div {
    margin-bottom: 0%;
    height: 100%;
    width: 34%;
    float: right;
    margin-left: 0%;
}


#trials-card {
    background-color: rgba(251, 209, 162, 0.7);
    border-radius: 15px;
    height: 100%;
    padding: 1%;
    width: 30%;
    float: right;
    margin-left: 0%;
    box-shadow: 3px 3px 1px gainsboro;
}

#sponsors-card {
    background-color: rgba(192, 240, 225, 0.7);
    border-radius: 15px;
    height: 100%;
    padding: 1%;
    width: 30%;
    float: right;
    margin-left: 3%;
    box-shadow: 3px 3px 1px gainsboro;
}

#years-card {
    background-color: rgba(187, 233, 240, 0.7);
    border-radius: 15px;
    height: 100%;
    padding: 1%;
    width: 30%;
    float: right;
    margin-left: 3%;
    box-shadow: 3px 3px 1px gainsboro;
}


#bottom-left {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 3px 3px 1px gainsboro;
}

#bar1 {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    padding-top: 0%;
}

#bottom-right {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 3px 3px 1px gainsboro;
}

#bar2 {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    padding-top: 0%;
}

#whole-div {
    height: 98vh;
    background-color: ghostwhite;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}

#top-row {
    overflow: visible;
    display: block;
    height: 8%;
    padding-bottom: 1.5%;
}

#mid-row {
    overflow: visible;
    display: block;
    margin-top: 0%;
    height: 32vh;
}

#bot-row {
    display: block;
    margin-top: 1.5%;
    margin-bottom: 0%;
    height: 35%
}

#citation-div {
    width: 35%;
    padding-left: 64.5%;
    text-align: right;
    padding-top: 1%;
}

h5 {
    font-size: 14px;
}

h1 {
    padding-top: 1%;
    margin-left: 0%;
    font-size: 40px;
    font-weight: 500;
}

h3 {
    padding-top: 10%;
    margin-left: 0%;
    font-size: 20px;
    font-weight: 500;
    float: right;
}

h4 {
    margin-top: 1%;
    margin-bottom: 0%;
    padding-left: 2%;
    font-size: 27px;
    font-weight: 500;
}

.card-title {
    text-align: center;
    font-size: 33px;
    font-weight: 400;
    padding-top: 5%;
    padding-right: 4%;
}

.card-text {
    font-size: 20px;
    width: 98%;
    height: 100%;
    margin-right: 1%;
    padding-top: 0.5%;
    margin-left: 1%;
}